################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MarketWatch/obj
/MarketWatch/bin/Debug
